################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DelfiFeeds/.vs/DelfiFeeds/v16/Server/sqlite3/db.lock
